# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Wireguard configurations folder
.confs/

# Starting telegram bot script with environment variables
script_tg

# SQL queries for adding existing clients
sql_queries

# Log files
*.log