name: ksivpn-tgbot

x-service-defaults: &service-defaults
  restart: unless-stopped
  networks: [ ksivpn-net ]

services:
  ksivpn-tgbot:
    <<: *service-defaults
    container_name: ksivpn-tgbot
    build:
      context: .
      dockerfile: ./build/bot/Dockerfile
    image: exmanka/ksivpn-telegram-bot:${TAG}
    env_file: [ .env ]
    volumes: [ "ksivpn-tgbot-postgres-backups:${BACKUP_PATH}" ]
    depends_on:
      ksivpn-tgbot-postgres:
        condition: service_healthy

  ksivpn-tgbot-postgres:
    <<: *service-defaults
    container_name: ksivpn-tgbot-postgres
    build:
      context: ./build/database
      args:
        ADDITIONAL_LANGUAGE: ${ADDITIONAL_LANGUAGE}
    image: exmanka/ksivpn-telegram-bot-postgres:${TAG}
    environment:
      TZ: ${TZ}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_INITDB_ARGS: ${POSTGRES_INITDB_ARGS}
    ports: [ "${POSTGRES_PORT}:5432" ]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ksivpn-tgbot-postgres-data:/var/lib/postgresql/data
      - ksivpn-tgbot-postgres-backups:/var/lib/postgresql/backups

networks:
  ksivpn-net:
    name: ksivpn-net

volumes:
  ksivpn-tgbot-postgres-data:
    name: ksivpn-tgbot-postgres-data
  ksivpn-tgbot-postgres-backups:
    name: ksivpn-tgbot-postgres-backups
